* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

.btn-contact2{
 
  right: 150px;

  font-size: 1rem;
  background-color: #1e1d1d;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: .1s ease;
  letter-spacing: 0.15em;
  font-weight: 300;
}

.btn-contact2:hover {
  background-color: rgba(255, 255, 255, 0.441);
  border: 1px solid orange;
  color: orange;
  font-weight: bolder !important;
}

.btn-contact3{
 
  right: 150px;

  font-size: 1rem;
  background-color: #1e1d1d;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  color: white;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: .1s ease;
  letter-spacing: 0.15em;
  font-weight: 300;
}

.btn-contact3:hover {
  background-color: rgba(0, 0, 0, 0.648);
  border: 1px solid orange;
  color: white;

  font-weight: bolder !important;
}

.btn-contact4{
 
  right: 150px;

  font-size: 1rem;
  background-color: #1e1d1d;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  color: white;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: .1s ease;
  letter-spacing: 0.15em;
  font-weight: 300;
}

.btn-contact4:hover {
  background-color: rgba(0, 0, 0, 0.648);
  border: 1px solid orange;
  color: rgb(38, 25, 25) !important; 

  font-weight: bolder !important;
}

.btn-contact4::placeholder {

  color: rgb(38, 25, 25) !important; 


}



/* footer */

#footer {
  color: #313030;
  font-size: 14px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #656262;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #313030;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #000000;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #656262;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color:purple;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #313030;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #000000;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background:#000000;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #000000;
  opacity: .5;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #313030;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background:#000000;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* cards */
.card_{
  width: 16rem;
  height: 23rem;
  border-radius: 1rem;
  border: solid black 2px;
}


.card_ img{
  width: 100%;
  height: 15rem;
  margin: 0 0 .5rem;
  object-fit: cover;
}


button{
  border: none;
  width: 5rem;
}


.buy-button{
  border-radius: .4rem;
}

/* troller off camvas */
.trolleyCanvas {
  height: 40px;
  color: #fff;
  transition: all 0.5s ease-out;
  /* padding: 10px 12px; */
  transform: translateY(-8px);
}

.trolleyCanvas:hover {
  transform: scale(1.2);
  background-color: #f5f5f5;
  color: #333;
}

.button-styles {
  font-size: 1rem;
  background-color:#1e1d1d;
  border: 2px solid #FFD12B;
  color: #D9D4D1;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: .1s ease;
  font-weight: 800;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 0.03em;
}

.button-styles:hover {
  font-size: 1rem;
  background-color: #D9D4D1;
  border: 2px solid #FFD12B;
  color: #1e1d1d;
}

.btn-quick-view4 {
  font-size: 1rem;
  background-color: #1e1d1d;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  color: white;
  padding: 3px 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: .1s ease;
  letter-spacing: 0.15em;
  font-weight: 300;
}

.btn-quick-view4:hover {
  background-color: #000000;
  font-weight: bolder !important;
}


.offcanvas-header{
  border-bottom:  #65626249 solid 2px;
}

.column2 {
  color: white;
}

.totalAPagar{
  font-size: 20px;
  font-weight: bold;
}

.imgCarrito{
  width: 350px;
} 

.itemCarrito{
  border-bottom: #656262 solid 3px;
  padding-bottom: 10px;
}

.group {
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
}

.actualPrice { 
  text-decoration: underline;
}

.previusPrice { 
  text-decoration:line-through;
}



.icoSize {
  width: 90px;
  height: 90px;
}

.carritoPosition {
  height: 50px;
  width: 50px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 95%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  background-color: #E38164;

}

.carritoPositionFather{
  width: 20vw;
  height: fit-content;
  background-image: gray !important;
}

.carritoPosition2 {
  height: 50px;
  width: 50px;
  padding: 10px;
  position: absolute;
  top: 42%;
  left: 95%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  background-color: #E38164;

}
.carritoPosition3 {
  padding: 10px;
  position: absolute;
  top: 65vh;    
}

.offcanvasScale {
  width: 32vw !important;
  max-width: none !important;
}


.carritoPositionFather2{
  width: 20vw;
  height: fit-content;
  background-image: gray !important;
}


@keyframes rotate{
  0%{
      transform: rotate(0deg);
  }
  50%{
      transform: rotate(180deg);
  }
  100%{
      transform: rotate(360deg);
  }}


.titulosCarros{
  font-size: 45px;
  font-family: 'Russo One', sans-serif;
  font-weight: bolder;
}

.impedibles:hover{
  transform: translateY(-15px);
  transition: .5s;
}

.impedibles{
  transition: .5s;
}

  
video{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.sectionCatalogoInicio{
  width: 100%;
  height: 100%;
}

header{
  width: 15vh;
  height: 100vh;
}

.navLateral a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  transition: .2s;
}

.navLateral a:hover{
  transform: scale(1.5) rotate(180deg);
}

.navLateral{
  height: 50%;
}

.enlaceNav {
  text-decoration: none;
  color: white;
  padding: 0.8rem;
  font-size: 18px;
}

.enlaceNav:hover {
  color: orange;
}

.sticky1{
  background-color: black;
  transition: 0.5s;
}

.sticky1 a{
  color: white !important;
}

.logo{
  width: 5rem;
}

body{
  height: 300vh;
}

.tituloCatalogo{
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.689);
}

/* <------------------------------------------------------------DISCO-----------------------------------------------------------> */

.disco {
cursor: pointer;
position: absolute;
top: 45%;
left: 50%;
transform: translate(-50%, -50%);
width: 400px;
height: 400px; 
}

.disco--cover,
.disco--vinilo {
position: absolute;
width: 100%;
height: 100%;
}

.disco--cover {
background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/dark.jpg) no-repeat center center;
background-size: cover;
border-radius: 2px;
overflow: hidden;
z-index: 10;
}

.disco--cover::after,
.disco::before {
content: "";
position: absolute;
}

.disco--cover::after {
filter: blur(2px) brightness(0.9);
background: -webkit-linear-gradient(45deg, rgba(34,14,14,0.4) 0%, rgba(66, 66, 66, 0.5) 60%, rgba(79, 78, 78, 0.371) 100%);
/* box-shadow: inset 0px 1px 1px rgba(255,206,205,0.7), inset -1px 0px 2px rgba(105,26,25,1), inset 0px -2px 2px #fff; */
border-radius: 2px;
width: 100%;
height: 100%;
}

.disco::before {
border-radius: 50%;
box-shadow: -20px 55px 25px rgba(28,0,0,0.7);
left: 0;
bottom: 0px;
height: 12px;
width: 95%;
transform: perspective(800px) rotateX(70deg) scaleX(1.2) scaleY(0.9);
transition: width 1s ease;
z-index: -20;
}

.disco:hover::before {
width: 105%;
}

.disco--vinilo {
background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/vinilo_negro.png) no-repeat center center;
background-size: 368px 368px;
transform: translate3d(55px, 0px, 0px) rotateZ(0deg);
transition: transform 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.disco--vinilo::after {
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 30%, rgba(214,214,214,0.2) 100%), -webkit-linear-gradient(65deg, rgba(255,255,255,0) 50%, rgba(26, 25, 25, 0.168) 100%);
box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3), inset -1px 1px 2px rgba(135,126,125,0.2), inset 0px 0px 2px 30px rgba(55,55,55,0.1), inset 0px 0px 2px 19px rgba(25,25,25,0.1), inset 0px 0px 1px 40px rgba(25,25,25,0.2);
background-size: 190px 190px;
content:"";
border-radius: 100%;
position: absolute;
top: 5px;
left: 5px;
width: 380px;
height: 380px;
}

.disco:hover > .disco--vinilo {
transform: translate3d(250px, 0px, 0px) rotateZ(40deg);
}

.disco--caption {
position: absolute;
top: 130%;
text-align: center;
opacity: 0.01;
width: 100%;
transition: opacity 400ms 0ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

.disco:hover > .disco--caption {
opacity: 1;
transition: opacity 700ms 800ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

.disco--caption p {
color: rgba(255, 255, 255, 0.689);
font-family: 'Source Sans Pro', sans-serif;
text-transform: uppercase;
letter-spacing: 3px;
font-size: 1.2em;
}

@media (max-width: 600px){
  .disco {
      width: 200px;
      height: 200px; 
  }
  .disco--vinilo {
      background-size: 190px 190px;
  }
  .disco--vinilo::after {
      width: 190px;
      height: 190px;
  }
  .disco:hover > .disco--vinilo {
      transform: translate3d(100px, 0px, 0px) rotateZ(40deg);
  }
}
@media (max-width: 420px){
  header{
      width: 8vh;
      height: 100vh;
  }
  .disco--caption {
      top: 150%;
  }
  .disco:hover > .disco--vinilo {
      transform: translate3d(0px, 0px, 0px) rotateZ(40deg);
  }
}
.contenedor{
  width: 80%;
}

/* new arrivals */
.newArrivals__container {
  display: flex;
  width: 100%;
  /* padding: 4% 2%; */
  box-sizing: border-box;
  height: 40rem;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: 100%;
  object-fit: cover; 
  transition: .5s;
}

.box:hover { flex: 1 1 30%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}

@media(max-width: 800px){
  .newArrivals__container{
    flex-direction: column;
    height: 90rem;
  }
}
 
@media(max-width: 450px){
  .newArrivals__container{
    flex-direction: column;
    height: 50rem;
  }
}

/* carrousel */
#wrapper {
  width: 100%;
  max-width: 80vw;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  width: 40px;
  align-content: center;
  background: rgba(246, 242, 242, 0.956);
  border: none;
  padding: 8px;
  border-radius: 360px;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 250px;
  height: 250px;
  background: green;
}

input[type = "checkbox"] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  position: relative;
  cursor: pointer;
  width: 50px;
 transform: scale(.6)!important;
  height: 40px;
}

.bar span {
  position: absolute;
  width: 45px;
  height: 7px;
  background: #f1faee;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 17px;
}

.bar span.bottom {
  bottom: 0;
}

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px;
}

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
  box-shadow: 0 0 10px #495057;
}

input[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0;
}

.navbar-toggler {
  color: #f1faee;
 transform: scale(.6)!important;	
}