*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.enlaceNav {
    text-decoration: none;
    color: white;
    padding: 0.8rem;
    font-size: 18px;
    font-weight: 600;
}

.enlaceNav:hover {
    color: wheat;
}

.sticky1{
    background-color: black !important;
    transition: 0.5s;
}

.sticky1 a{
    color: white !important;
}

.logo{
    width: 5rem;
}
/* <-------------------------------------------------------------MAIN-------------------------------------------------------> */

.banner{
    height: 18rem;
    background-image: url(../img/fondoLanding.jpg);
    background-size: cover;
    width: 100%;
}

h1{
  font-family: 'Sawarabi Mincho', serif;
  font-size: 60px;
  letter-spacing: 2px;
}

.detallesSection{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin-left: 20px !important;
}

.disco{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 700px;
    transition: 0.5s;
}

.trolleyCanvas {

  color: #fff;
  transition: all 0.5s ease-out;
  transform: translateY(-8px);
}

.trolleyCanvas:hover {
  transform: scale(1.2);
  background-color: #f5f5f5;
  color: #333;
}

.button-styles {
  font-size: 1rem;
  background-color:#1e1d1d;
  border: 2px solid #FFD12B;
  color: #D9D4D1;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: .1s ease;
  font-weight: 800;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 0.03em;
}

.button-styles:hover {
  font-size: 1rem;
  background-color: #D9D4D1;
  border: 2px solid #FFD12B;
  color: #1e1d1d;
}

.btn-quick-view4 {
  font-size: 1rem;
  background-color: #1e1d1d;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  color: white;
  padding: 3px 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: .1s ease;
  letter-spacing: 0.15em;
  font-weight: 300;
}

.btn-quick-view4:hover {
  background-color: #000000;
  font-weight: bolder !important;
}


.offcanvas-header{
  border-bottom:  #65626249 solid 2px;
}

.column2 {
  color: white;
}

.totalAPagar{
  font-size: 20px;
  font-weight: bold;
}

.imgCarrito{
  width: 350px;
} 

.itemCarrito{
  border-bottom: #656262 solid 3px;
  padding-bottom: 10px;
}
.offcanvasScale {
  width: 32vw !important;
  max-width: none !important;
}

.disco:hover{
    transform: translate(-150px);
}


.vinilo{
    position: absolute;
    width: 650px;
    right: 48%;
    top: 22rem;
    z-index: -1;
    filter: drop-shadow(4px 4px 15px black)
}

.textDetalles{
    width: 40%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textDetalles h2{
  font-size: 45px;
  font-weight: 600;
  font-family: 'Sawarabi Mincho', serif;
  margin-bottom: 30px;
}

/* <---------------------------------------------------------RECOMENDADOS-------------------------------------------------------> */

.discosRelacionados{
    width: 350px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.divRelacionados{
    transition: 0.5s;
    width: 380px;
    
}

.divRelacionados:hover{
    transform: translateY(-5px);
    background-color: #918e8e37;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}


.btn-quick-view {
  font-size: 1rem;
  background-color: #1e1d1d;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  color: white;
  padding: 12px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: .1s ease;
  letter-spacing: 0.15em;
  font-weight: 300;
}

.btn-quick-view:hover {
  background-color: #000000;
  font-weight: bolder !important;
}



input[type = "checkbox"] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  position: relative;
  cursor: pointer;
  width: 50px;
 transform: scale(.6)!important;
  height: 40px;
}

.bar span {
  position: absolute;
  width: 45px;
  height: 7px;
  background: #f1faee;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 17px;
}

.bar span.bottom {
  bottom: 0;
}

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px;
}

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
  box-shadow: 0 0 10px #495057;
}

input[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0;
}

.navbar-toggler {
  color: #f1faee;
 transform: scale(.6)!important;	
}

#footer {
    color: #313030;
    font-size: 14px;
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #656262;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #313030;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #000000;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #656262;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color:purple;
  }
  
  #footer .footer-newsletter {
    font-size: 15px;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #313030;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #000000;
  }
  
  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background:#000000;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-newsletter form input[type=submit]:hover {
    background: #000000;
    opacity: .5;
  }
  
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #313030;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background:#000000;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  .newArrivals__container {
    display: flex;
    width: 100%;
    padding: 2% 2%;
    box-sizing: border-box;
    height: 40rem;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .box > img {
    width: 200%;
    height: 100%;
    object-fit: cover; 
    transition: .5s;
  }
  
  .box:hover { flex: 1 1 30%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }
  
  @media(max-width: 800px){
    .newArrivals__container{
      flex-direction: column;
      height: 90rem;
    }
  }

  @media(max-width: 450px){
    .newArrivals__container{
      flex-direction: column;
      height: 50rem;
    }
  }


  @media (max-width: 1650px){
    .disco{
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      width: 700px;
      transition: 0.5s;
  }

  .disco:hover{
      transform: translate(-150px);
  }
  
  .textDetalles{
    margin-left: 2rem;
    width: 80%;
  }

  .vinilo{
      position: absolute;
      width: 650px;
      right: 45%;
      top: 398%;
  }
  }

@media (max-width: 1200px){
    .textDetalles{
        margin-top: 1rem;
        width: 80%;
    }
    .vinilo{
        display: none;
    }
    .detallesSection{
      flex-direction: column;
    }
    h2{
      font-size: 30px !important;
    }
    h1{
      font-size: 40px;
      text-align: center;
    }
    .disco:hover{
      transform: none;
  }
  
}

@media (max-width: 900px){
    .disco{
        width: 500px;
    }
    h1{
      font-size: 30px;
    }
    .btn-quick-view{
      font-size: .8rem;
    }
}

@media (max-width: 600px){
    .disco{
        width: 400px;
    }
}

@media (max-width: 480px){
    .disco{
        width: 320px;
    }
}

@media (max-width: 400px){
  .disco{
      width: 270px;
  }
}

