* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f5f5f5;
}



.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-bottom: 11rem; */
}

.vinyl-description {
    width: 70%;
}

.album-detail {
    margin-left: -3.58rem;
}

.detail-buttons {
    padding: 1rem;

}

.detail-input {
    width: 30%;
    padding: 0.3rem;
    border: 1px solid rgb(172, 172, 172);
    box-shadow: 4px 3px 0 rgb(185, 185, 185);
}

.detail-button {
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1px solid rgb(172, 172, 172);
    /* box-shadow: -3px 3px 0 rgb(112, 38, 38); */
    box-shadow: 4px 3px 0 rgb(185, 185, 185);
    background-color: #E38164;
    color: white;
}

.current-page {
    color: #E38164;
    border-bottom: 1px solid #E38164;
}

h2 {
    color: #20231B;
    background-color: #E38164;
    border-radius: 0.5rem;
    padding: 0.2rem;
}


********************************************************

.trolleyCanvas {
    margin-left: 50px;
    height: 40px;
    
}

.trolleyCanvas:hover {
    transform: scale(1.5);
    
    animation: rotate 1s linear;
}

.offcanvas2 { 
    background-color:#101213a2!important;
}

.column2 {
    color: #E38164;
}

.group {
    text-decoration: underline;
  
}

.actualPrice { 
    text-decoration: underline;
}

.previusPrice { 
    text-decoration:line-through;
}



.icoSize {
    width: 90px;
    height: 90px;
}

.carritoPosition {
    height: 50px;
    width: 50px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 95%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    background-color: #E38164;

}

.carritoPositionFather{
    width: 20vw;
    height: fit-content;
    background-image: gray !important;
}

.carritoPosition2 {
    height: 50px;
    width: 50px;
    padding: 10px;
    position: absolute;
    top: 42%;
    left: 95%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    background-color: #E38164;

}
.carritoPosition3 {
   
    padding: 10px;
    position: absolute;
    top: 65vh;    


}

.offcanvasScale {
    width: 32vw !important;
    max-width: none !important;
}


.carritoPositionFather2{
    width: 20vw;
    height: fit-content;
    background-image: gray !important;
}


@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }}



***********************************************************