.card1 {
    /* padding: 2em; */
    position: relative;
    box-sizing: border-box;
    text-align: center;
    width: 17em;
    height: 23em;


    border-radius: 10px;
    /* background-color: rgb(255, 255, 255); */
    /* background: linear-gradient(156deg, rgba(243, 241, 240, 0.4) 28%, rgba(168, 159, 165, 0.263) 71%); */
    background-image: url(../img/fondoCards.jpg);
    background-size: cover;
    justify-items: center;
    transition: all 0.2s;
}

.card1:hover {
    /* padding-bottom: calc(2em + 45px); */
    box-shadow: 0px 0px 8px 0px #b5b5b5;
    transform: translateY(-10px)
}

.card1:hover button {
    transition: .2s;
    opacity: 1;
    transform: translate(-50%, 0);
}

.card1 img {
    height: 16em;
    width: 17em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

p {
    font-weight: 300;
    font-size: .9em;
    line-height: .1em;
}

.promotion {
    font-weight: 400;
    font-size: 1em;
    /* color: #C4941C; */
}

.card1 h4 {
    font-family: 'Sawarabi Mincho', serif;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1em;
    letter-spacing: 0.05em;
    color: white;
}

.card1 h5 {
    font-weight: 300;
    font-size: 1.2em;
    line-height: .5em;
    color: #C4941C;
}

.buttonCards {
    transition: all 0.2s;
    position: absolute;
    bottom: 2em;
    width: 220px;
    height: 45px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 1px;
    z-index: 0;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 200%);
    letter-spacing: .05em;
}

.img-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 23em;
    width: 17em;
    opacity: 0;
    border-radius: 10px;
    transition: .2s ease;
}

.overlay a:hover {
    color: #b5b5b5;
    font-weight: bolder !important;
    background-color: #000000;
}

.card1:hover .overlay {
    opacity: .9;
    /*  background: rgba(102, 102, 102, 0.5);  */
    /* background: linear-gradient(156deg, rgba(243, 241, 240, 0.518) 28%, rgba(168, 159, 165, 0.39) 71%); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: linear-gradient(156deg, rgba(243, 241, 240, 0.4) 28%, rgba(168, 159, 165, 0.263) 71%);
}

.icon {
    position: absolute;
    width: 40px;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
}

.icon2 {
    position: absolute;
    width: 40px;
    top: 36%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
}

.btn-quick-view {
    font-size: .7em;
    background-color: #1e1d1d;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    color: white;
    padding: 12px 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s ease;
    letter-spacing: 0.15em;
    font-weight: 300;
}

.btn-quick-view:hover {
    background-color: #000000;
}