 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url(https://doc-04-7k-docs.googleusercontent.com/docs/securesc/8ooo764oc1gfl365fok1e0tegmud1vs0/hm7fgf40b5c0bfcm0n5lncqd0uamv4o9/1663538100000/16788346458400498553/10975064642661970887/1QklDfG9DJloUXSMMA6GigdGJQfjDC4CN?e=view&ax=ALW9-sDG6hwM28GY9GxpJla6B0W-OKi4ugScqoJha1h_9XnliMW4vqaZVToCTeByN2Cql1MT_hCSdC7Vh7VGx69HwzfYAdXS6NkZnxvOMLHazChnY0GcOdhfMFR9I5S6Eq6GLXi6JadXTzarSkgFt7yw3OvgFWvKqiwjEQVPzIEclQCa0sgeLr_6E00830nv5emwSyg2GCWK_QCFQffbtdLjiRJxEldz_2WZn_KCrYOudjeFVaZeRE5JfdD-k8PjQBh0PL0vj3E2WRx8zFUMRWMfFTrGw58pTZoauF3scW3w52yYFZLK4Ve0Pruf4tCYx3LXbtYQ5RYNKYTHBLK5Ojk9yM6BcrYQ5UEBApLbU1OIq6CDGVj4GEesfKxWBQf1j2RwOPUXoaHzRxLFlxEiCmDH6yR4rv-RR-R_stykEwDqgHN0ZLBt2Esn0aK0A22AzQWThjA75Ru_rejPPywbV8QtxRpWuJDQ9k4c4K_WpGw3_vMeRu1ZV3pTd253ATcG3IE8RQ6acSqTZBKwAFFzWlvjIyFKeGTYPVSMgTZdXnJ5G5k4gZIXEemL50H11JvmHN4QihPstsyC-E1sQprtztAQgbi_dI8A4pHpii5Fl4V3AeoeeHB0mpvnWvWj4oHRrH30rolaPeqF_l6akw_sqRNuCY7P8yDGV_L9u3W_cRBrEwQSl7fX8KEx_RyPMzQXrU2olvEeWC_4oYu7yUMjYSZbhwwvf0-lroL8LGSsX0dg2ZlvAj5QLIUCiY53JHNlSLZ1tvclhb_ThFoaDn7OK9RvHTPCAqjoBXuDSTuP9QUgCCTP2NBrIjubFaPIemtK7gcexUchL_4ZRzPSR1gA-xmWXFmuuU6W15ajB8zjEY6bm8O_3dy2JCXh4Ohe3tzORfL-l0MkWqbwYJhJDdK6Af_pdJwSWOwGUzhp9w&uuid=3113ba0e-b46f-4eec-9bd7-b6aea89187ee&authuser=0&nonce=75tp7sg39a2ne&user=10975064642661970887&hash=1gmjtgdiflr0r25o7rdjehs2it9kf15c);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

video{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

main{
    padding-top: 5rem;
}

/* <-------------------------------------------------NAV---------------------------------------------------------------> */

.enlaceNav {
  text-decoration: none;
  color: white;
  padding: 0.8rem;
  font-size: 18px;
}

.enlaceNav:hover {
  color: orange;
}

.sticky1{
    background-color: black;
    color: white !important;
    transition: 0.3s;
}

.logo{
    width: 5rem;
}

header{
    min-height: 100vh;
}


/* <------------------------------------------LANDING--------------------------------------------------------------> */

.btnLanding{
    position: absolute;
    top: 88%;
    right: 48%;
    width:90px;
}


.onlineStore{
    width: 100%;
    height: 30rem;
    background-image: url(../manosindex.jpg);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.onlineStore h2{
    color: yellow;
    background-color:black;
    border-radius: 30px;
    font-size: 35px;
    font-weight: bolder;
    padding: .8rem;
}



/* <--------------------------------------------------------------ACORDEON-------------------------------------------------> */
.carrousel{
    width: 100vw;
}

.containerCarrousel {
    display: flex;
    height: 40vh;
    margin-top: 4rem;
}

.accordion {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    margin: 0;
    padding: 0;
    transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.accordion:hover {
    flex-basis: 30vw;
}

/* <------------------------------------------------------------MAPA CONTACT -----------------------------------------------------> */

iframe{
    margin-top: 4rem;
    width: 80%;
    height: 35rem;
}


/* footer */

#footer {
    color: #313030;
    font-size: 14px;
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #656262;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #313030;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #000000;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #656262;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color:purple;
  }
  
  #footer .footer-newsletter {
    font-size: 15px;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #313030;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #000000;
  }
  
  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background:#000000;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-newsletter form input[type=submit]:hover {
    background: #000000;
    opacity: .5;
  }
  
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #313030;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background:#000000;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }



@media (max-width: 1200px){
    .videoIndex{
        display: none;
    }
    header{
        background-image: url(../fondotablet.jpg);
        background-size: cover;
        object-fit: cover;
        background-position: center;
    }
    .onlineStore{
        height: 20rem;
    }
}

@media (max-width: 900px){
    .onlineStore{
        height: 15rem;
    }
}

@media (max-width: 700px){
    .onlineStore{
        height: 12rem;
    }
}

@media (max-width: 480px){
    header{
        background-image: url(../fondoCelular.jpg);
    }
    .onlineStore{
        height: 10em;
    }
}