* {
    box-sizing: border-box;
    margin: 0;
    

}

header {
    height: 15vh;
    background-color: #713e5a;

}

main {
    min-height: 100vh;
    width: 75% !important;

}
r
.inputStock {
    width: 60px;
    border: solid 0.5px yellow;
    align-items: center !important;
}

.downPart {
    height: 15vh;
    margin-top: 10px;
    background-color: rgba(128, 128, 128, 0.473);
}

.stepAction {
    color: rgba(128, 128, 128, 0.658);
}

.arrowSize {
    width: 20px;
    height: 20px;
}

.filterSelect {

    filter: opacity(0.4) drop-shadow(0 0 0 rgb(61, 61, 61));

}

.filterSelect2 {

    filter: opacity(0.4) drop-shadow(0 0 0 rgb(61, 61, 61));

}

.stepNumberSize {
    width: 30px;
    height: 30px;
}

.imgExampleAlbum {
    width: 200px;
    height: 200px;
}

.imgExampleAlbum2 {
    width: 100px;
    height: 100px;
}

.icoSize {
    width: 40px;
    height: 40px;
}

textarea {
    resize: none;
}

.blockSize {
    width: 35vw;
}

.resume_detail {
    background-color: rgba(209, 209, 209, 0.322);
    min-height: 40vh;
}

.steepOneCart {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.imgResponsive {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
 
.steepTwoDelivery { 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.resumeBuy{ 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; 
    background-color: rgba(209, 209, 209, 0.322);
}

.steepThreePayment {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.resumen_compra {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

/*************************************** RESPONSIVE ***************************************************/
@media (min-width: 1023px) and (max-width: 1024px) {}

@media (min-width: 766px) and (max-width: 1023px) {}

@media screen and (max-width: 768px) {
    header {
        min-width: fit-content;
        margin-left: 5vh;
        margin-right: 5vh;
    }

    main {
        min-height: 100vh;
        background-color: rgba(128, 128, 128, 0.338);
        margin-left: 5vh;
        margin-right: 5vh;
    }

    .lineSteps {
        transform: scale(.8);
        padding: 10px !important;
        justify-content: center !important;
    }

    .imgResponsive {
        width: 120px;
        height: 120px;
        margin-left: 10px;
    }

    .imgExampleAlbum {
        align-items: center !important;

    }

    .responsiveIco {
        margin: 0px !important;
    }

    .resposiveTitle {
        font-size: 0.8rem;
    }

    .icoResponsive1 {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

    .icoResponsive2 {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

    /* .responsiveInput {
        width: 120px;
        margin: 5px !important;
    } */
    /* .responsiveInput2 {
        width: 260px;
    } */

    .responsiveBlock {
        justify-content: space-between !important;
        flex-wrap: wrap;
    }

    .blockSize {
        width: fit-content !important;
        margin-inline: auto;
    }

    .resumen_compra {
        margin: 0 auto;
    }

    .button_responsive {
        margin-top: .5rem !important;
    }

    .responsive_button_back {
        margin-left: .5rem !important;
    }

    .productos_carrito {
        margin: 1rem !important;
    }
}