* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
}

body {
    background-image: url(../img/fondoVerify.jpg);
}

h1 {
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 3rem;
}

a {
    display: inline;
    margin: 0 auto;
}

.contenido {
    margin-top: 15rem;
}

.title_group {
    margin-top: 8rem;
    margin-inline: auto;
}

.ir_a_index {
    padding: .5rem;
    text-decoration: none;
    border: none;
    border-radius: .5rem;
    background-color: rgba(218, 165, 32, 0.779);
    color: wheat;
    transition: transform .2s;
}

.ir_a_index:hover {
    color: black;
    background-color: rgba(255, 156, 80, 0.897);
    text-transform: uppercase;
    transform: scale(1.3);
}

.btn-quick-view {
    font-family: 'Monserrat', sans-serif;
    font-size: 1.2rem;
    background-color: #D9D4D1;
    border: 3px solid #FFD12B;
    border-radius: 3px;
    color: #1e1d1d;
    padding: 12px 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s ease;
    letter-spacing: 0.15em;
    font-weight: 800;
}

.btn-quick-view:hover {
    background-color: #1e1d1d;
    font-weight: 900;
    color: white;
}